/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 .notification {
    background-color: #90EE90;
    width: 30%;
    padding-left: 5px;
    margin: 10px;
    border: #000;
    border-radius: 25px;
}
.rehash_button {
    display: inline-flex;
    height: 20px;
    padding: 0;
    background: #009578;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;

}

.button:hover {
    background: #008168;
    
}

.button:active {
    background: #006e58;
}

.button__text, .button__icon {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: #fff;
    height: 100%;
}

.button__icon {
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.08);
}
[data-tab-content] {
    display: none;
}
.brief {
    background-color: #fdfd96;
    width: 30%;
    padding-left: 5px;
    margin: 10px;
    border: #000;
    border-radius: 25px;
}
.active[data-tab-content] {
    display: block;
}

body {
    padding: 0;
    margin: 0;
}

.tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid #000
}

.tab {
    cursor: pointer;
    padding: 10px;
    background: #D3D3D3;

}

.tab.active {
    background-color: #AAA;
}

.tab:hover {
    background-color: #AAA;
}

h2, h3 {
    font-family: arial, sans-serif;
    padding: 0;
}


.dalektablethin {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border-radius: 15px;
    width: 100%;
}

td, th {
  border: 1px solid #000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #bec8d3;
}

* {
    box-sizing: border-box;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 5px;
}